<ion-content>

  <div class="flex flex-col min-h-screen">

    <app-header></app-header>

    <main class="flex-grow container mx-auto max-w-7xl p-10">
      @if (book){
        <div class="flex items-baseline justify-center gap-4 mb-16">


        <h1 class="text-center text-5xl font-bold font-['Cormorant_Garamond'] uppercase tracking-tighter mb-16 text-[#1A1614]">Resumen completo</h1>
        <span class="text-center text-2xl font-bold font-['Cormorant_Garamond'] uppercase tracking-tighter mb-16 text-[#1A1614]">{{summary?.authorId}}</span>

        </div>

        <div class="grid grid-cols-1 lg:grid-cols-12 gap-16">

          <div class="lg:col-span-5 flex justify-center items-start">

            <img [src]="book.coverUrl" (error)="book.coverUrl = 'assets/img/default-book.png'" class="w-full max-w-md shadow-[25px_25px_60px_rgba(0,0,0,0.35)] border border-[#C5A059]/10 rounded-sm">

          </div>


          <div class="lg:col-span-7 flex flex-col gap-8">
            <div class="bg-white/50 p-8 border border-white shadow-sm">

              <div class="flex flex-wrap justify-end gap-4 mb-12">

                <button class="px-6 py-2 border !border-solid border-[#C5A059] bg-white text-[#1A1614] text-[10px] uppercase tracking-[0.2em] font-bold hover:bg-[#FDFBF7] transition-all"> Guardar </button>
                <button class="px-6 py-2 border !border-solid border-[#C5A059] bg-white text-[#1A1614] text-[10px] uppercase tracking-[0.2em] font-bold hover:bg-[#FDFBF7] transition-all"> Reportar </button>
                <button class="px-6 py-2 border !border-solid border-[#C5A059] bg-white text-[#1A1614] text-[10px] uppercase tracking-[0.2em] font-bold hover:bg-[#FDFBF7] transition-all"> Útil </button>
                <button class="px-6 py-2 border !border-solid border-[#C5A059] bg-white text-[#1A1614] text-[10px] uppercase tracking-[0.2em] font-bold hover:bg-[#FDFBF7] transition-all"> No útil </button>

              </div>

              <div class="space-y-3 font-lato text-sm text-[#1A1614] border-b border-[#C5A059]/20 pb-6">

                <p><span class="uppercase tracking-widest font-bold text-gray-500 text-[10px] mr-4"> Autor del resumen: </span> {{summary?.authorId}}</p>
                <p><span class="uppercase tracking-widest font-bold text-gray-500 text-[10px] mr-4"> Edición: </span> {{book.year}}</p>
                <p><span class="uppercase tracking-widest font-bold text-gray-500 text-[10px] mr-4"> Tags: </span> {{book.tags.join(', ')}} </p>
                <p><span class="uppercase tracking-widest font-bold text-gray-500 text-[10px] mr-4"> Idioma: </span> {{ book.language}}</p>

                <div class="flex items-center gap-1 mt-4">

                  <span class="uppercase tracking-widest font-bold text-gray-500 text-[10px] mr-4">Valoración: </span>
                  <div class="flex text-[#FFD700] text-lg">

                    <ion-icon name="star"></ion-icon>

                  </div>

                </div>

              </div>

              <div class="flex justify-between items-center mb-6">

                <h2 class="text-[#1A1614] text-4xl font-['Cormorant_Garamond']">Resumen</h2>

              </div>

              <div class="space-y-6">

                <p class="text-base text-[#1A1614] leading-relaxed text-justify font-lato whitespace-pre-wrap"> {{summary?.structure?.tldr}}</p>

              </div>

              <div class="mt-12 flex justify-start">

                <button [routerLink]="['/book-detail', book.id]" class="text-[#C5A059] text-[10px] font-bold uppercase tracking-widest flex items-center gap-2 hover:translate-x-[-5px] transition-transform">

                  <ion-icon name="arrow-back-outline"></ion-icon> Volver al libro

                </button>

              </div>

            </div>

          </div>
        </div>

      } @else {
        <div class="flex flex-col items-center justify-center py-40 gap-4">

          <div class="w-12 h-12 border-4 border-[#C5A059] border-t-transparent rounded-full animate-spin"></div>
          <p class="font-lato italic text-2xl"> Abriendo el libro requerido, puede tardar unos segundos...</p>

        </div>
      }



    </main>

  </div>

  <app-footer></app-footer>



</ion-content>
