<ion-content>

  <div class="flex flex-col min-h-full">

  <app-header></app-header>

  <main class="flex-1 w-full max-w-4xl mx-auto p-8">

    <div class="flex justify-between items-center mb-8">

      <h2 class="text-2xl font-['Cormorant_Garamond'] text-[#1A1614] mb-8"> {{'REVIEWS.MY_REVIEWS' | translate}}</h2>
      <button (click)="showModal = true" class="px-3 py-2 border !border-solid border-[#C5A059] bg-white text-[#1A1614] text-[10px] uppercase tracking-[0.1em] font-bold hover:bg-[#FDFBF7] transition-all"> Escribir reseña </button>

    </div>

    <div class="border-b border-gray-500 mb-8">

      <span class="inline-block pb-2 border-b-2 border-[#2E473B] font-bold text-[#4A443F]"> {{'REVIEWS.PUBLISHED' | translate}}</span>

    </div>

    <div class="flex flex-col gap-6">

      @for (rev of myFullReviews; track rev.id){

        <div class="bg-white p-6 shadow-sm border border-gray-100 relative">

          <button (click)="deleteReview(rev.id)" class="absolute top-4 right-4  text-gray-500 hover:text-red-600">

            <ion-icon name="trash-outline" class="text-xl "></ion-icon>

          </button>

          <div class="flex justify-between items-start pr-10">

            <div>

              <h3 class="text-xl font-['Cormorant_Garamond'] font-bold text-[#1A1614]"> {{rev.bookTitle}} / {{rev.bookAuthor}} </h3>

              <p class="text-[10px] text-gray-500 mt-1 uppercase tracking-widest">{{'REVIEWS.LAST_MOD' | translate}}: {{rev.createdAt | date:'dd/MM/yyyy'}}</p>

            </div>

            <div class="flex text-[#FFD700] text-sm">

              @for (star of [1,2,3,4,5]; track star) {

                <ion-icon [name]="star <= rev.rating ? 'star' : 'star-outline'"></ion-icon>

              }

            </div>

          </div>

          <p class="mt-4 text-sm text-[#4A443F] leading-relaxed font-lato">Reseña: {{rev.text}}</p>

        </div>

      }

    </div>

  </main>

  <app-footer></app-footer>

  </div>

  <ion-modal [isOpen]="showModal" (didDismiss)="showModal = false">

    <ng-template>

      <div class="p-8 bg-white h-full flex flex-col gap-6 overflow-y-auto">

        <h2 class="text-3xl font-['Cormorant_Garamond'] text-[#1A1614] border-b border-[#C5A059]/20 pb-4"> Escribir Crítica </h2>

        <div class="flex flex-col gap-5">

          <div>

            <label class="text-[10px] uppercase font-bold text-gray-500 tracking-widest"> Seleccionar el libro </label>
            <select [(ngModel)]="newReview.bookId" class="w-full p-3 border border-[#C5A059] outline-none text-black font-lato mt-1 bg-white">

              <option value="" disabled selected>Escoge un libro de la biblioteca...</option>

              @for (book of books; track book.id) {
                <option [value]="book.id"> {{book.title}} - {{book.authors?.join(', ')}}</option>
              }

            </select>

          </div>

          <div>

            <label class="text-[10px] uppercase font-bold text-gray-500 tracking-widest">Puntuación (1-5)</label>
            <input [(ngModel)]="newReview.rating" type="number" min="0" max="5" class="w-full p-3 border border-[C5A059] text-white font-lato mt-1">

          </div>

          <div>

            <label class="text-[10px] uppercase font-bold text-gray-500 tracking-widest">Tu opinión</label>
            <textarea [(ngModel)]="newReview.text" rows="4" placeholder="¿Qué te ha parecido la obra?" class="w-full p-3 border border-[#C5A059] text-white font-lato mt-1"></textarea>

          </div>

          <div class="grid grid-cols-2 gap-4">

            <div>

              <label class="text-[10px] uppercase font-bold text-green-600 tracking-widest"> Pros </label>
              <input [(ngModel)]="reviewProsInput" type="text" placeholder="Ágil, intrigantes..." class="w-full p-3 border border-green-200 outline-none text-white font-lato mt-1 text-xs">

            </div>

            <div>

              <label class="text-[10px] uppercase font-bold text-red-600 tracking-widest"> Contras </label>
              <input [(ngModel)]="reviewConsInput" type="text" placeholder="Final previsible..." class="w-full p-3 border border-red-200 outline-none text-white font-lato mt-1 text-xs">

            </div>

          </div>

        </div>

        <div class="flex gap-4 mt-auto pt-6">

          <button (click)="showModal = false" class="flex-1 py-3 border bg-[#2E473B] border-gray-300 uppercase text-[10px] font-bold"> Cancelar </button>
          <button (click)="saveReview()" class="flex-1 py-3 bg-[#2E473B]  uppercase text-white text-[10px] font-bold shadow-md"> Publicar Reseña </button>

        </div>

      </div>

    </ng-template>

  </ion-modal>

</ion-content>
