@media (max-width: 767px) {
  .footer-responsive-row {
    flex-direction: column !important;
    align-items: center !important;
    gap: 2rem !important;
  }

  .footer-responsive-menu {
    border-bottom: 1px solid #000 !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;

    div {
      gap: 1rem !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
    }
  }
}
