
<ion-footer>
  <ion-toolbar style="--background: #2C1E16CC; color: white;" class="py-8">
    <div class="flex justify-between items-center px-10">

      <div class="flex gap-4">
        <ion-icon name="logo-twitter" style="font-size: 24px"></ion-icon>
        <ion-icon name="logo-instagram" style="font-size: 24px"></ion-icon>
        <ion-icon name="logo-tiktok" style="font-size: 24px"></ion-icon>
        <ion-icon name="logo-facebook" style="font-size: 24px"></ion-icon>
      </div>

      <div class="border-t border-white/30 pt-4">
        <div class="flex gap-6 text-sm font-lato items-center">
          <span>¿Quiénes somos?</span>
          <span class="text-xs opacity-50">•</span>
          <span>Blog</span>
          <span class="text-xs opacity-50">•</span>
          <span>Ayuda</span>
          <span class="text-xs opacity-50">•</span>
          <span>Contacto</span>
        </div>
      </div>
    </div>

    <div class="text-center font-lato mt-8">
      Copyright • Project M.O.L - Todos los derechos reservados
    </div>
  </ion-toolbar>
</ion-footer>
