<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-toolbar">

    <div class="footer-container">

      <div class="top-row">

        <div class="social-group">
          <div class="icon-box">
            <img src="assets/icon/twitter.png" alt="Twitter">
          </div>
          <div class="icon-box instagram-special">
            <img src="assets/icon/instagram.png" alt="Instagram">
          </div>
          <div class="icon-box">
            <img src="assets/icon/tiktok.png" alt="TikTok">
          </div>
          <div class="icon-box">
            <img src="assets/icon/facebook.png" alt="Facebook">
          </div>
        </div>

        <div class="menu-group">
          <div class="footer-links">
            <span>¿Quiénes somos?</span>
            <span>•</span>
            <span>Blog</span>
            <span>•</span>
            <span>Ayuda</span>
            <span>•</span>
            <span>Contacto</span>
          </div>
        </div>

      </div>

      <div class="footer-copyright">
        Copyright • Project M.O.L - Todos los derechos reservados
      </div>

    </div>
  </ion-toolbar>
</ion-footer>
