<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: #2C1E16CC; color: white;">

    <div style="display: flex; flex-direction: column; width: 100%; padding: 1.5rem 2.5rem;">

      <div class="footer-responsive-row" style="display: flex; justify-content: space-between; align-items: flex-end; width: 100%;">

        <div style="display: flex; gap: 1rem; align-items: center;">
          <div style="width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
            <img src="assets/icon/twitter.png" style="height: 35px; width: auto; object-fit: contain;">
          </div>
          <div style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;">
            <img src="assets/icon/instagram.png" style="height: 50px; width: auto; object-fit: contain;">
          </div>
          <div style="width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
            <img src="assets/icon/tiktok.png" style="height: 35px; width: auto; object-fit: contain;">
          </div>
          <div style="width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
            <img src="assets/icon/facebook.png" style="height: 35px; width: auto; object-fit: contain;">
          </div>
        </div>

        <div class="footer-responsive-menu" style="border-bottom: 1px solid rgba(0,0,0,1); padding-bottom: 1rem;">
          <div style="display: flex; gap: 2.5rem; font-size: 12px; font-family: 'Lato', sans-serif; font-weight: 300;">
            <span>¿Quiénes somos?</span>
            <span>•</span>
            <span>Blog</span>
            <span>•</span>
            <span>Ayuda</span>
            <span>•</span>
            <span>Contacto</span>
          </div>
        </div>

      </div>

      <div style="text-align: center; width: 100%; margin-top: 1.75rem; font-size: 10px; font-family: 'Lato', sans-serif; letter-spacing: 0.1em;">
        Copyright • Project M.O.L - Todos los derechos reservados
      </div>

    </div>
  </ion-toolbar>
</ion-footer>
