@media (max-width: 780px) {
  .menu-escritorio {
    display: none !important;
  }
  .menu-movil {
    display: flex !important;
  }
}

@media (min-width: 780px) {
  .menu-escritorio {
    display: flex !important;
  }
  .menu-movil {
    display: none !important;
  }
}
