<ion-header class="ion-no-border overflow-visible [contain:none]">
  <ion-toolbar class="overflow-visible [contain:none] [&::part(container)]:overflow-visible" style="--background: #2C1E16CC; color: white;">

    <ion-buttons slot="start">
      <span (click)="backHome()" class="ml-4 text-xl md:text-2xl font-serif tracking-tight cursor-default">
        PROJECT M.O.L
      </span>
    </ion-buttons>
    @if (!isAuthPage){
    <ion-searchbar
      class="menu-escritorio w-[250px] hidden md:block"
      placeholder="Descubre..."
      style="--placeholder-color: #555555; --background: white; --icon-color: black;">
    </ion-searchbar>


    <ion-buttons slot="end" class="hidden md:flex gap-6">
      <ion-button class="font-lato text-sm normal-case hover:opacity-70 transition-opacity">Inicio</ion-button>
      <ion-button class="font-lato text-sm normal-case hover:opacity-70 transition-opacity">Resúmenes</ion-button>
      <ion-button class="font-lato text-sm normal-case hover:opacity-70 transition-opacity">Reseñas</ion-button>
    </ion-buttons>


    <ion-buttons slot="end" class="hidden md:flex pl-6">
      @if (!user){
      <ion-button (click)="navigateRegister()" class="font-lato text-sm normal-case text-[#C5A059] font-medium hover:brightness-110">
        Registrarse
      </ion-button>
      } @else {
        <div (click)="toggleMenu()" class="relative z-50 flex items-center gap-3 cursor-pointer hover:opacity-80 transition-opacity pr-4">
          <div class="w-10 h-10 rounded-full bg-[#F5F5F0] flex items-center justify-center overflow-hidden border-2 border-white/20">
            @if (user?.photoUrl){
              <img [src]="user.photoUrl" class="w-full h-full object-cover">
            } @else {
              <ion-icon name="person" class="text-[#2E473B] text-xl"></ion-icon>
            }
          </div>

          <span class="text-white font-lato font-medium uppercase tracking-wide text-sm">
            {{user?.username || 'Cargando...' }}
          </span>
          <ion-icon name="chevron-down-outline" class="text-[#4A6356] text-lg transition-transform" [class.rotate-180]="menuOpen">
          </ion-icon>

        </div>
      }
    </ion-buttons>
    }
    <ion-buttons slot="end" class="md:hidden">
      <ion-button>
        <ion-icon name="menu" class="text-white text-3xl"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  @if (menuOpen && user){
    <div (click)="$event.stopPropagation()" class="fixed top-[60px] right-4 w-64 bg-[#F5F5F0] rounded-sm shadow-2xl z-[999] border border-[#2E473B22] overflow-hidden text-[#2E473B]">
      <div class="p-4 flex flex-col gap-1">
        <span class="font-lato text-lg font-bold">Perfil</span>
        <span class="text-xs border-b border-[#2E473B] pb-1"> Nivel Escolar: {{user?.level}} </span>
      </div>
      <button class="flex items-center gap-3 p-3 py-2 hover:bg-[#2E473B11] transition-colors text-sm">
        <ion-icon name="notifications-outline"></ion-icon>
        Notificaciones
      </button>

      <button class="flex items-center gap-3 p-3 py-2 hover:bg-[#2E473B11] transition-colors text-sm">
        <ion-icon name="book-outline"></ion-icon>
        Mis resúmenes
      </button>

      <hr class="border-[#2E473B44] my-2">

      <button class="flex items-center gap-3 p-3 py-2 hover:bg-[#2E473B11] transition-colors text-sm">
        <ion-icon name="language-outline"></ion-icon>
        Idioma: Español
      </button>

      <button class="flex items-center gap-3 p-3 py-2 hover:bg-[#2E473B11] transition-colors text-sm">
        <ion-icon name="help-circle-outline"></ion-icon>
        Ayuda
      </button>

      <button class="flex items-center gap-3 p-3 py-2 hover:bg-[#2E473B11] transition-colors text-sm">
        <ion-icon name="settings-outline"></ion-icon>
        Ajustes
      </button>

      <button (click)="onLogout()" class="flex items-center gap-3 p-3 py-2 mt-2 font-bold hover: text-red-600 transition-colors text-sm">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </button>
    </div>
  }
</ion-header>
