<ion-content>

  <div class="flex flex-col min-h-full">

<app-header></app-header>

<div class="flex flex-grow">

  <aside class="w-64 min-h-full flex-shrink-0 border-r border-[#C5A059] mb-2">
    <app-admin-panel class="min-h-[800px] "></app-admin-panel>
  </aside>

  <main class="flex-grow p-10">
    @if (!showForm){

  <div class="flex justify-between items-start mb-8">
    <h2 class="text-3xl font-['Cormorant_Garamond'] text-[#1A1614]">Catálogo de libros</h2>
    <div class="flex flex-col gap-2">
      <button (click)="showForm = true" class="px-8 py-2 border border-[#C5A059] font-lato bg-white text-black text-sm hover:bg-gray-50 transition-colors"> Añadir Libro </button>
      <button class="px-8 py-2 border border-[#C5A059] font-lato bg-white text-black text-sm hover:bg-gray-50 transition-colors"> Importar ISBN </button>
    </div>

  </div>

  <div class="relative mb-10">
    <input type="text" placeholder="Buscar libro..." class="w-full max-w-2xl p-2 pl-2 border text-black border-[#C5A059] bg-white focus:outline-none shadow-sm">
  </div>

    <div class="w-full overflow-x-auto">
      <table class="w-full text-left border-collapse">
        <thead>
          <tr class="border-b border-gray-500 text-sm text-[#1A1614]">
            <th class="py-2 px-4 font-normal font-lato">Portada</th>
            <th class="py-2 px-4 font-normal font-lato">Título</th>
            <th class="py-2 px-4 font-normal font-lato">Autor</th>
            <th class="py-2 px-4 font-normal font-lato">ISBN</th>
            <th class="py-2 px-4 font-normal font-lato">Categoría</th>
            <th class="py-2 px-4 font-normal font-lato">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (libro of book; track libro.id){
            <tr class="border-b border-gray-100 text-black">
              <td class="py-4 px-4">
                <img [src]="libro.coverUrl" class="w-12">
              </td>
              <td class="py-4 px-4">{{libro.title}}</td>
              <td class="py-4 px-4">{{libro.authors.join(', ')}}</td>
              <td class="py-4 px-4">{{libro.isbn}}</td>
              <td class="py-4 px-4">{{libro.categories.join(', ')}}</td>
              <td class="py-4 px-4">
                <div class="flex justify-center gap-3 text-xl">
                  <ion-icon (click)="deleteBook(libro.id)" name="trash-outline" class="text-gray-600 cursor-pointer"></ion-icon>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="py-20 text-center text-gray-500 italic"> No hay book en el catálogo. Pulse 'Añadir Libro' </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
      <div class="w-full max-w-5xl mx-auto animate-fade-in">
        <div class="flex items-center gap-4 mb-8">
          <button (click)="cancelForm()" class="text-[#C5A059] hover:scale-110 transition-transform">
            <ion-icon name="arrow-back-outline" class="text-3xl"></ion-icon>
          </button>
          <h2 class="text-4xl font-['Cormorant_Garamond'] text-[#1A1614]"> Añadir libro </h2>
        </div>

        <div class="bg-white p-12 border-2 border-[#C5A059] shadow-sm">
          <div class="grid grid-cols-2 gap-10">
            <div class="flex flex-col gap-6">

              <div class="flex flex-col gap-1">
                <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">Título de la Obra</label>
                <input [(ngModel)]="emptyBook.title" type="text" placeholder="Título completo" class="p-3 border bg-white border-[#C5A059] outline-none text-black font-lato">
              </div>

              <div class="flex flex-col gap-1">
                <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">Autores (Comas)</label>
                <input [(ngModel)]="emptyBook.authors" type="text" placeholder="Autor 1, Autor 2..." class="p-3 bg-white border border-[#C5A059] outline-none text-black font-lato">
              </div>

              <div class="grid grid-cols-2 gap-4">

                <div class="flex flex-col gap-1">
                  <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">ISBN</label>
                  <input [(ngModel)]="emptyBook.isbn" type="text" placeholder="978-..." class="p-3 border bg-white border-[#C5A059] outline-none text-black font-lato">
                </div>

                <div class="flex flex-col gap-1">
                  <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">Año de edición</label>
                  <input [(ngModel)]="emptyBook.year" type="number" class="p-3 border bg-white border-[#C5A059] outline-none text-black font-lato">
                </div>

              </div>
            </div>

            <div class="flex flex-col gap-6">

              <div class="flex flex-col gap-1">
                <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">Idioma</label>
                <input [(ngModel)]="emptyBook.language" type="text" class="p-3 border bg-white border-[#C5A059] outline-none text-black font-lato">
              </div>

              <div class="flex flex-col gap-1">
                <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">Categorías (Comas)</label>
                <input [(ngModel)]="emptyBook.categories" type="text" placeholder="Ficción, Historia..." class="p-3 border border-[#C5A059] bg-white outline-none text-black font-lato">
              </div>

              <div class="flex flex-col gap-1">
                <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">Etiquetas / Tags (Comas)</label>
                <input [(ngModel)]="emptyBook.tags" type="text" placeholder="Clásico, Recomendado..." class="p-3 border border-[#C5A059] bg-white outline-none text-black font-lato">
              </div>

              <div class="flex flex-col gap-1">
                <label class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold ml-1">URL Portada</label>
                <input [(ngModel)]="emptyBook.coverUrl" type="text" placeholder="https://..." class="p-3 border bg-white border-[#C5A059] outline-none text-black font-lato">
              </div>

            </div>
          </div>

          <div class="flex gap-6 mt-12 justify-end">

            <button (click)="cancelForm()" class="px-12 py-4 border-2 border-[#C5A059] text-[#1A1614] font-bold uppercase text-[10px] tracking-widest hover:bg-gray-50 transition-all">Cancelar</button>
            <button (click)="addBook()" class="px-12 py-4 bg-[#2E473B] text-white font-bold uppercase text-[10px] tracking-widest shadow-lg hover:bg-[#1a2b24] transition-all">Confirmar Guardado</button>

          </div>
        </div>
      </div>
    }
  </main>
</div>

  <app-footer></app-footer>
  </div>

</ion-content>
