// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

$colors: (
  primary:    #F4F1EA,
  secondary:  #2C1E16,
  tree:     #2E473B,
  dark:       #1A1614,
  gold:       #C5A059,
);
